@import '../../styles/variables';

.settings-wrapper {
    select, input, button {
        font-family: $base-font;
        font-size: 16px;
        padding: 5px;
        outline: none;
    }

    select, input {
        margin-right: 10px;
        background: #d9bdbd;
        border: 1px solid #a68f8f;
    }

    input {
        width: 150px;
    }

    button {
        width: 150px;
        background: #9d87ab;
        border: 1px solid #72617d;
        font-weight: bold;

        &:active {
            background: lighten(#9d87ab, 10%);
        }
    }
}
