@import '../../styles/variables';

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90px;
    font-family: $base-font;
    font-size: 40px;
    font-weight: bold;
    background: #97c78f;
}