@import '../../styles/variables';

.hidden {
    visibility: hidden;
}

table {
    width: 30vw;
    height: 30vw;
    border-collapse: collapse;

    .field-cell {
        border: 1px solid grey;
    }

    .blue {
        background: blue;
    }

    .green {
        background: green;
    }

    .red {
        background: red;
    }
}
